# Node
node_modules/

# Env & secrets
.env

# Uploads & temp
docs/

# OS
.DS_Store

# Uploaded CV & Project
storage/uploads/*
!storage/uploads/.gitkeep

# Generated evaluation reports
storage/reports/*
!storage/reports/.gitkeep
